<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="res/placeholder.png" />
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/dist/main.js"></script>
    <script src="https://kit.fontawesome.com/d56088cc92.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>
<body>

    <h1 id="greeting"></h1>
    <h1 id="date"></h1>

    <div class="container">
        <ol>
            <li><h3 class="containerTitle s1Title">{{ tab1["title"] }}</h3></li>
            <div class="line s1Line"></div>
            {% for link_name, url in tab1["bookmarks"].items() %}
            <li class="item"><a class="link" href="{{url}}">{{link_name}}</a></li>
            {% endfor %}
        </ol>
    </div>

    <div class="container">
        <ol>
            <li><h3 class="containerTitle s2Title">{{ tab2["title"] }}</h3></li>
            <div class="line s2Line"></div>
            {% for link_name, url in tab2["bookmarks"].items() %}
            <li class="item"><a class="link" href="{{url}}">{{link_name}}</a></li>
            {% endfor %}
        </ol>
    </div>

    <div class="container">
        <ol>
            <li><h3 class="containerTitle s3Title">{{ tab3["title"] }}</h3></li>
            <div class="line s3Line"></div>
            {% for link_name, url in tab3["bookmarks"].items() %}
            <li class="item"><a class="link" href="{{url}}">{{link_name}}</a></li>
            {% endfor %}
        </ol>
    </div>

    <div class="container">
        <ol>
            <li><h3 class="containerTitle s4Title">{{ tab4["title"] }}</h3></li>
            <div class="line s4Line"></div>
            {% for link_name, url in tab4["bookmarks"].items() %}
            <li class="item"><a class="link" href="{{url}}">{{link_name}}</a></li>
            {% endfor %}
        </ol>
    </div>
    
</body>
</html>
